

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: black;
   
   }
   .display-box {
    font-family: "Georgia, serif", sans-serif;
    background-color: white;
    border: gold 1.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
   }
   .button {
    font-family: "Georgia, serif", sans-serif;
    background-color: white;
    color: brown;
    border: gold 1.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
   }
   .button:active {
    background: black;
    -webkit-box-shadow: inset 0px 0px 5px white;
    -moz-box-shadow: inset 0px 0px 5px black;
    box-shadow: inset 0px 0px 5px white;
   }